In [1]:
import json
import pandas as pd
import os

In [2]:
'''Open first json file and make a dataframe in pandas'''
with open('./2Pac_songs/lyrics_2pac_16ondeathrow.json') as json_data:
    data = json.load(json_data)

table1 = pd.DataFrame([[data['artist'], data['songs'][0]['title'], data['songs'][0]['album'], data['songs'][0]['year'], data['songs'][0]['lyrics']]], columns = ['artist', 'title', 'album', 'releasedate', 'lyrics'])

table1

,artist,title,album,releasedate,lyrics
0,2Pac,16 on Death Row,R U Still Down? (Remember Me),1997-11-25,[Intro]\nDeath Row\nThat's where mothafuckas i...

In [10]:
'''Open another json file and make a dataframe in pandas'''
with open('./2Pac_songs/lyrics_2pac_alleyezonme.json') as json_data:
    data = json.load(json_data)

table2 = pd.DataFrame([[data['artist'], data['songs'][0]['title'], data['songs'][0]['album'], data['songs'][0]['year'], data['songs'][0]['lyrics']]], columns = ['artist', 'title', 'album', 'releasedate', 'lyrics'])

table2

,artist,title,album,releasedate,lyrics
0,2Pac,All Eyez on Me,All Eyez on Me,1996-02-13,"[Intro: 2Pac]\nBig Syke, Newt, Hank, Beugard, ..."

In [11]:
'''Combine table1 and table2'''
table1 = table1.append(table2)

table1

,artist,title,album,releasedate,lyrics
0,2Pac,16 on Death Row,R U Still Down? (Remember Me),1997-11-25,[Intro]\nDeath Row\nThat's where mothafuckas i...
0,2Pac,All Eyez on Me,All Eyez on Me,1996-02-13,"[Intro: 2Pac]\nBig Syke, Newt, Hank, Beugard, ..."

In [4]:
'''Open each other json file and append that data into original dataframe'''
for song in os.listdir(path = '2Pac_songs'):
    if song == '*.json':
        with open('./2Pac_songs/' + song) as song_file:
            data = json.load(song_file)
            table_song = pd.DataFrame([[data['artist'], data['songs'][0]['title'], data['songs'][0]['album'], data['songs'][0]['year'], data['songs'][0]['lyrics']]], columns = ['artist', 'title', 'album', 'releasedate', 'lyrics'])
            tablefull = tablefull + table1.append(table_song)
           
        
tablefull

NameError: name 'tablefull' is not defined

In [12]:
table1

,artist,title,album,releasedate,lyrics
0,2Pac,16 on Death Row,R U Still Down? (Remember Me),1997-11-25,[Intro]\nDeath Row\nThat's where mothafuckas i...
0,2Pac,All Eyez on Me,All Eyez on Me,1996-02-13,"[Intro: 2Pac]\nBig Syke, Newt, Hank, Beugard, ..."